@import url(http://fonts.googleapis.com/css?family=Open+Sans:700&subset=latin-ext);
h1, h2, h3, h4, a.ui-btn-icon-left {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}
a {
	cursor:pointer;
	text-decoration:none;
}
textarea {
	min-height:100px;
}
.ui-content {
	margin-bottom:50px;
}
.ui-header {
	/*background-color:#ff6804!Important;*/
	background:url(../images/fondo6.jpg) repeat-x center;
	background-color:#434343!Important
}
.ui-header img {
	display:block;
	margin:0 auto;
}
#cont_inicial {
	display:none;
}
#footer-menu {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
}


/*****------ MI RESERVA -----*****/
.caducidad_ficha,
.titulo {
	width: auto;
	font-size:14px;
	text-align:left;
	color:#FFF;
	background:#f7931e;
	font-weight:normal;
	text-shadow: none;
	margin:0 auto;
}
.caducidad_ficha.gris {
	background:#737373;
}
.caducidad_ficha img {
	display:block;
	float:left;
	margin-right:10px;
}
.caducidad_ficha,.caducidad_ficha span,.caducidad, .caducidad span, .titulo, .titulo h1 {-webkit-border-radius: 10px;border-radius: 10px;padding:10px;}
.caducidad_ficha span,
.titulo h1 {
	background:#FFF;
	display:inline;
	padding:5px!Important;
	text-shadow: none;
	color:#1A439A;
	line-height:28px;
}
.titulo h1 {
	font-size:22px;
	color:#666;
}
.icon-logo {
	width:64px;
}
.caducidad span {display:inline;margin-left:10px;background:#FFF;color:#333;padding:5px;}

#mis-reservas-act {
	margin-top:30px;
}

/*****----- CONTACTO -----*****/
#form_contact {
	float:left;
	clear:both;
	width:100%;
	margin-top:40px;
}

/*****----- CALENDARIO -----*****/
#calendario {
	position:relative;
	float:left;
	margin-right:10%;
	width:70%;
}



/*****----- HORAS ------*****/
#content_ajax table {
	text-align:center;
}
#content_ajax table {
	width:100%;
}
#content_ajax tr {
	display:block;
	width:100%;
}
#content_ajax td,
#content_ajax span.cerrado,
#content_ajax span.ocupado {
	display:block;
	width:100%;
	line-height:40px;
	font-weight:bold;
}
#content_ajax td {
	background:url("../images/datepicker/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
	border:1px solid #C5DBEC;
	color:#2E6E9E;
}
#content_ajax td.cerrado {
	background:none;
	color:#666;
	cursor:text;
}
#content_ajax td.ocupado {
	background:#F00;
	color:#FFF;
	cursor:text;
}
/*Dialogo de aceptar*/
#dialog-confirm {
	display:none;
	text-align:center;
}
/* ----- */
/*----*/
#content_ajax td:hover,
#content_ajax td.FranjaSeleccion,
#content_ajax td#hora_sel {
	color:#FFF!Important;
	background:#C5DBEC;
	cursor:pointer;
}
.tachado {
	text-decoration: line-through;
}
.cargando {
	width:100%;
	float:left;
	position:relative;
}
#loading {
	background: #CCC;
	position:absolute;
	width:100%;
	height:100%;
	z-index:2;
	opacity: .4;
}
#loading img {
	display:block;
	position:absolute;
	z-index:3;
	top:50%;
	left:50%;
	margin-top:-16px;
	margin-left:-16px;
}

/*****----- FICHA CENTRO -----*****/
.ficha_res {
	width:100%;
}
.foto_centro img {
	width:100%;
	max-width:515px;
}
.foto_centro,
.desc_centro {
	float:left;
	width:46%;
	margin-left:2%;
	margin-top:40px;
}
.foto_centro {
	text-align:center;
}
.foto_centro img {
	float:none;
	display: inline;
}
.desc_centro {
	margin-right:0;
}


/*****----- MAPA -----*****/
#map-canvas,
#map-ruta,
#directionsPanel {
	position: fixed!Important;
	width: 100%;
	height: 89%;
}
.no_redondeado span {
	-webkit-border-radius: 0;
	border-radius: 0;
	padding:0;
}
.no_margen img {
	margin:0;
}


@media only screen and (min-width: 600px) {
/*Calendario*/
#input_fecha {
	float:left;
	margin-right:10%;
	width:45%;
}
.cargando {
	float:left;
	width:45%;
}
}
@media only screen and (max-width: 1250px) {
.caducidad_ficha {
	font-size:12px;
}
}
@media only screen and (max-width: 1000px) {
.caducidad_ficha {
	font-size:11px;
}
#promociones img {
	max-width:100%;
}
}
@media only screen and (max-width: 750px) {
#lista_trats li a.ui-btn {
	font-size: 0.8em;
}
.foto_centro,
.desc_centro {
	width:100%;
	margin-left:0;
	margin-right:0;
}
.foto_centro {
	width:95%;
}
}